<table>
    <tr class="header">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>{{ 'label.price'|trans }}</th>
        <th>{{ 'label.quantity'|trans }}</th>
        <th>{{ 'label.sum'|trans }}</th>
    </tr>
    {% for purchaseItem in purchase.items %}
        <tr class="purchase-list">
            <td>
                {% if file_exists(product_prefix ~"/"~ purchaseItem.product.image) %}
                    <img class="photo" src="{{ product_prefix ~"/"~ purchaseItem.product.image }}"
                         alt="{{ purchaseItem.product.name }}" height="42" width="42"/>
                {% else %}
                    <img class="photo" src="{{ product_prefix ~"/empty-product.png" }}"
                         alt="{{ 'label.product.without_image'|trans }}" height="42" width="42"/>
                {% endif %}
            </td>
            <td>{{ purchaseItem.product.name }} ({{ purchaseItem.product.packaging }})</td>
            <td class="center">{{ purchaseItem.product.price }} €</td>
            <td class="center">{{ purchaseItem.quantity }}</td>
            <td class="center">{{ purchaseItem.price }} €</td>
        </tr>
    {% endfor %}
    <tr id="tr-total">
        <td colspan="3">&nbsp;</td>
        <td class="center"><b>{{ 'label.total'|trans }}</b></td>
        <td class="center" id="td-total">{{ total }} €</td>
    </tr>
</table>