{% extends 'base.html.twig' %}

{% block title %}ProductOrder index{% endblock %}

{% block body %}
    <h1>{{ 'action.product_order' |trans }}</h1>

    <div class="btn-group">
        <a href="#" class="btn btn-primary active" aria-current="page">Active link</a>
        <a href="#" class="btn btn-primary">Link</a>
        <a href="#" class="btn btn-primary">Link</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'title.product_order.delivery_date'|trans }}</th>
                <th>{{ 'label.remark' |trans }}</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_order in product_orders %}
            <tr>
                <td>{{ product_order.id }}</td>
                <td>{{ product_order.deliveryDate ? product_order.deliveryDate|date('Y-m-d') : '' }}</td>
                <td>{{ product_order.comment }}</td>
                <td>{{ product_order.createdAt ? product_order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_order_show', {'id': product_order.id}) }}">show</a>
                    <a href="{{ path('product_order_edit', {'id': product_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_order_new') }}">Create new</a>
{% endblock %}
