{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block stylesheets %}
    {{ parent() }}
    {# Call product-order.js #}
    {{ encore_entry_script_tags('product-order') }}
    {# Call breadcrumbs.css #}
    {{ encore_entry_link_tags('breadcrumbs') }}
{% endblock %}

{% block body_title %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'title.product_order'|trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block main %}

    {% if categories is defined %}
        <div class="box article-large">

            {% include 'product_order/_breadcrumb.html.twig' with {'currentStep': currentStep} only %}

            <h2>{{ 'title.product_order.step1'|trans }}</h2>

            <h3>{{ 'title.product_order.step1.products'|trans }}</h3>

            <form method="post" action="{{ path('product_order_step2') }}">
                <table>
                    {% set filter = app.session.get('productOrder') %}
                    {% set total = 0 %}

                    {% for category in categories %}

                        {% if category.products | length > 0 %}

                            <tr class="product_category">
                                <th colspan="2"><img src="{{ category_prefix ~"/"~ category.image }}" width="24"
                                                     height="24" alt="{{ category.name }}"/>{{ category.name }}
                                    ({{ category.products | length }})
                                </th>
                                <th>{{ 'label.price'|trans }}</th>
                                <th>{{ 'label.quantity'|trans }}</th>
                                <th>{{ 'label.sum'|trans }}</th>
                            </tr>

                            {% if category.subcategories | length > 0 %}

                                {% for subcategory in category.subcategories | sort %}
                                    {% if subcategory.products | length > 0 %}
                                        <tr>
                                            <td class="product_subcategory" colspan="5">{{ subcategory.name }} ({{ subcategory.products | length }})</td>
                                        </tr>
                                        {% for product in subcategory.products %}
                                            {% set prodctOrderName = 'qte_' ~ product.id %}
                                            {% if prodctOrderName in filter|keys %}
                                                {% set prodctOrderQte = filter[prodctOrderName] %}
                                                {% set prodctOrderTotal = prodctOrderQte * product.price %}
                                                {% set classTr = "prodct-order-list selected" %}
                                                {% set total = total + prodctOrderTotal %}
                                            {% else %}
                                                {% set prodctOrderQte = "" %}
                                                {% set prodctOrderTotal = "" %}
                                                {% set classTr = "product-order-list" %}
                                            {% endif %}

                                            <tr class="{{ classTr }}">
                                                <td>
                                                    {% include 'product_order/_show_product_photo.twig' with {'product': product} only %}
                                                </td>

                                                {% if product.isCanBeOrdered %}
                                                    <td>{{ product.name }} ({{ product.packaging }})</td>
                                                    <td class="center"><span
                                                                id="pu_{{ product.id }}">{{ product.price }}</span> €
                                                    </td>
                                                    <td class="center"><input id="qte_{{ product.id }}"
                                                                              name="qte_{{ product.id }}"
                                                                              class="form-control" type="number" min="0"
                                                                              max="50" value="{{ prodctOrderQte }}"/></td>
                                                    <td class="center"><span id="total_{{ product.id }}"
                                                                             name="total">{{ prodctOrderTotal }}</span>{% if prodctOrderTotal %} € {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td>{{ product.name }} ({{ product.packaging }})</td>
                                                    <td colspan="3">{{ 'label.product_order.not_ordered'|trans }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for product in category.products %}

                                    {% set prodctOrderName = 'qte_' ~ product.id %}
                                    {% if prodctOrderName in filter|keys %}
                                        {% set prodctOrderQte = filter[prodctOrderName] %}
                                        {% set prodctOrderTotal = prodctOrderQte * product.price %}
                                        {% set classTr = "product-order-list selected" %}
                                        {% set total = total +prodctOrderTotal %}
                                    {% else %}
                                        {% set prodctOrderQte = "" %}
                                        {% set prodctOrderTotal = "" %}
                                        {% set classTr = "product-order-list" %}
                                    {% endif %}

                                    <tr class="{{ classTr }}">
                                        <td>
                                            {% include 'product_order/_show_product_photo.twig' with {'product': product} only %}
                                        </td>

                                        {% if product.isCanBeOrdered %}
                                            <td>{{ product.name }} ({{ product.packaging }})</td>
                                            <td class="center"><span id="pu_{{ product.id }}">{{ product.price }}</span>
                                                €
                                            </td>
                                            <td class="center"><input id="qte_{{ product.id }}"
                                                                      name="qte_{{ product.id }}" class="form-control"
                                                                      type="number" min="0" max="50"
                                                                      value="{{ prodctOrderQte }}"/></td>
                                            <td class="center"><span id="total_{{ product.id }}"
                                                                     name="total">{{ prodctOrderTotal }}</span>{% if prodctOrderTotal %} € {% endif %}
                                            </td>
                                        {% else %}
                                            <td>{{ product.name }} ({{ product.packaging }})</td>
                                            <td colspan="3">{{ 'label.product_order.not_ordered'|trans }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                    <tr id="tr-total">
                        <td colspan="3">&nbsp;</td>
                        <td class="center"><b>Total</b></td>
                        <td class="center" id="td-total"><span
                                    id="total-final">{{ total }}</span>{% if total %} € {% endif %}</td>
                    </tr>
                </table>

                <div class="separator">
                    <p>{{ 'label.and'|trans }}</p>
                </div>

                <h3>{{ 'title.product_order.step1.date'|trans }}</h3>

                <div class="paragraph">
                    <select name="delivery_date">
                        {% for key, dateForDelivery in datesForDelivery %}
                            <option value="{{ key }}">{{ dateForDelivery }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="separator">
                    <p>{{ 'label.finalize'|trans }}</p>
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-shopping-bag" aria-hidden="true"></i> {{ 'action.continue'|trans }}
                </button>
            </form>


        </div>
    {% endif %}

    <div>
        <article class="box article-large">
            <h2>{{ 'label.product_order.not_found.title'|trans }}</h2>
            <div>
                <div class="flex flex-center">
                    <div>{{ 'label.product_order.not_found.description'|trans }}</div>
                    <div><img class="center" src="{{ asset('build/images/svg/011-barricade.svg') }}" width="128"
                              height="128" alt="Travaux"/></div>
                </div>
            </div>
        </article>
    </div>

{% endblock %}

{% block sidebar %}

    <div>
        <article class="box article-large">
            <h2>Votre commande</h2>
            <div>
                <div class="flex flex-center">
                    <div>{{ 'label.product_order.not_found.description'|trans }}</div>
                    <div><img class="center" src="{{ asset('build/images/svg/011-barricade.svg') }}" width="128"
                              height="128" alt="Travaux"/></div>
                </div>
            </div>
        </article>
    </div>

{% endblock %}