{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	<h1>{{ 'title.homepage'|trans }}</h1>
        </div>
    </div>
{% endblock %}


{% block main %}

    <div>
        {% for article in articles %}
            <article class="box article-large">
                <h2>
                    {{ article.title }}
                </h2>
                <div>
                  {{article.contains | raw }}
                </div>

            </article>

        {% else %}
        	<article class="box article-large">
                <h2>{{ 'label.article.not_found.title'|trans }}</h2>
                <div>
                	<div class="flex flex-center">
                		<div >{{ 'label.article.not_found.description'|trans }}</div>
                		<div><img class="center" src="{{ asset('build/images/svg/009-notes.svg') }}" width="128" height="128" alt="Note" /> </div>
                	</div>
                </div>

            </article>
        {% endfor %}
    </div>

    <div class="navigation text-center">
        {{ pagerfanta(articles, 'twitter_bootstrap3_translated', { routeName: 'article_index' }) }}
    </div>
{% endblock %}

{% block sidebar %}

	{{ render_esi(controller('App\\Controller\\EnterpriseController::schedule', {
        'sharedAge': 600,
        '_locale': app.request.locale
    })) }}
    
    {{ parent() }}
    
{% endblock %}
