{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    <div class="box article-large">


        {{ form_start(form) }}
            <fieldset>
                <legend><i class="fas fa-key" aria-hidden="true"></i> {{ 'title.password_update'|trans }}</legend>
                <div class="form-group">
                    {{ form_label(form.currentPassword) }}
                    {{ form_errors(form.currentPassword) }}
                    {{ form_widget(form.currentPassword, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.newPassword.first) }}
                    {{ form_errors(form.newPassword.first) }}
                    {{ form_widget(form.newPassword.first, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.newPassword.second) }}
                    {{ form_errors(form.newPassword.second) }}
                    {{ form_widget(form.newPassword.second, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-edit" aria-hidden="true"></i> {{ 'action.update'|trans }}
                </button>

                <a class="btn btn-a btn-primary" href="{{ path('user_account') }}">
                    <i class="fas fa-undo" aria-hidden="true"></i> {{ 'action.return'|trans }}
                </a>
            </fieldset>
        {{ form_end(form) }}

    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}
