{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    <div class="box article-large">
        {{ form_start(form) }}

        <fieldset>
            <legend><i class="fas fa-key" aria-hidden="true"></i> {{ 'title.password_update'|trans }}</legend>
            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            </div>

            {{ form_end(form) }}

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit" aria-hidden="true"></i> {{ 'action.update'|trans }}
            </button>

            <a class="btn btn-a btn-primary" href="{{ path('user_account') }}">
                <i class="fas fa-undo" aria-hidden="true"></i> {{ 'action.return'|trans }}
            </a>
        </fieldset>

    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}


