{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/breadcrumbs.css') }}">
{% endblock %}

{% block body_title %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'title.account'|trans }}</h1>
        </div>
    </div>
{% endblock %}


{% block main %}

    <article class="box article-large">

        {% include 'user/_breadcrumb.html.twig' with {'currentAction': currentAction} only %}


        <fieldset>
            <legend><i class="fas fa-shopping-cart" aria-hidden="true"></i> {{ 'title.purchase.show'|trans({'%purchase_id%': purchase.id}) }}</legend>
            {% include 'purchase/_purchase_summary.html.twig' with {'purchase': purchase, 'total': total} only %}
        </fieldset>

        <fieldset>
            <legend><i class="fas fa-comment-dots" aria-hidden="true"></i> {{ 'label.remark'|trans }}</legend>
            <p>{{ purchase.comment }}</p>
        </fieldset>

        <br/>

        <a class="btn btn-a btn-primary" href="{{ path('user_purchase') }}">
            <i class="fas fa-undo" aria-hidden="true"></i> {{ 'action.return'|trans }}
        </a>

    </article>

{% endblock %}

{% block sidebar %}

    {{ parent() }}

{% endblock %}
