<h1>{{ 'title.email.purchase_new'|trans }} : {{ purchase.id }}</h1>

<h2>{{ 'label.buyer'|trans }}</h2>

<ul>
	<li>{{ 'label.lastname'|trans }} : {{ purchase.buyer.lastname }}</li>
	<li>{{ 'label.firstname'|trans }} : {{ purchase.buyer.firstname }}</li>
	<li>{{ 'label.email'|trans }} : {{ purchase.buyer.username }}</li>
	<li>{{ 'label.telephone'|trans }} : {{ purchase.buyer.cellphone }}</li>
</ul>

<h3>{{ 'title.purchase.delivery_date'|trans }}</h3>

<div class="paragraph">
	<p>{{ 'label.purchase.date_selected'|trans }} : {{ purchase.deliveryDateFormatted }}</p>
</div>

<h3>{{ 'title.purchase.products_list'|trans }}</h3>
	
<div class="paragraph">
    {% include 'purchase/_purchase_summary.html.twig' with {'purchase': purchase, 'total': total} only %}
</div>

<h3>{{ 'label.remark'|trans }}</h3>

<div class="paragraph">
	<p>{{ purchase.comment }}</p>
</div>

<div class="paragraph">
{{ 'label.signature'|trans }}
</div>